<div class="abas-footer">
        Copyright © 2025 Forterro Deutschland Abas GmbH. All rights reserved. <a id="legalLink" href="https://abas-erp.com/en/legal-notice">Legal notice.</a> <a href="https://abas-erp.com/en/privacy-copyright">Privacy.</a>
</div>
