<div style="background-color: #112033;height: 60px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px">
    <a id="logolink" href="">
        <img id="logoImg" src="images/logo/abas_Logo.svg" style="height: 100%;width: auto" alt="Forterro Deutschland Abas GmbH">
    </a>
</div>
<script type="text/javascript">
    let getUrl = window.location;
    var baseUrl = getUrl.protocol + "//" + getUrl.host;
    var logoLink = document.getElementById('logolink');
    logoLink.href = baseUrl;
    // this header is included in multiple sub-pages.
    // The logo image is hosted on the top
    var logoImg = document.getElementById('logoImg');
    logoImg.src = baseUrl + "/images/logo/abas_Logo.svg";
</script>
